body
{
    margin:0;
    padding:0;
    background-color: aquamarine;
}
/*~~~~~~~~~~~~~~~ MAIN~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.main
{
    display:flex;
    flex-flow:column nowrap;
    align-items: stretch;
    justify-content: center;
    width:clamp(43ch, 100%, 1500px);
    margin: 0 auto;
    background-color: white;
}
/*~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~*/
.header
{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width:100%;
    height:15vh;
    background-color: red;
    grid-template-areas: 
       "logo logo src src src src"
        "btn btn btn btn btn btn";
}

.header-logo
{
    grid-area: logo;
}
.searchbar
{
    grid-area: src;
}
.header-buttons
{
    grid-area: btn;
}
/*~~~~~~~~~~~~~~~~~LIBRARY~~~~~~~~~~~~~~~~~~~~~*/
.library
{
    display:flex;
    flex-flow: row nowrap;
   /* align-items: stretch; */
    justify-content: flex-start;
    height:85vh;
    background-color: bisque;
}
/*~~~~~~~~~~~~~~~~~~LEFT-PANEL~~~~~~~~~~~~~~~~~~*/
.left-panel
{
    height:100%;
    width: clamp(45px, 33%,200px);
    background-color: blueviolet;
}
/*~~~~~~~~~~~~~~~~~~DESK~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.desk
{

}